<md-dialog aria-label="Add/Edit Seating Area" ng-cloak style="width: 50%;">
    <form name="addEditSeatingAreaForm" novalidate autocomplete="off">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{seatingAreaModalObj.actionType}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="fa fa-times"></i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div flex layout="column" layout-wrap layout-align="center stretch">
                        <md-input-container flex class="md-block">
                            <label>Seating Area Name</label>
                            <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>                            
                            <input name="name" required ng-model="seatingAreaModalObj.name">
                            <div ng-messages="addEditSeatingAreaForm.name.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>                        
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button type="submit" ng-click="addEditSeatingAreaForm.$valid && answer(true)">Save</md-button>
            <md-button ng-click="answer(false)">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
