<md-dialog aria-label="Cancel Table" ng-cloak style="width: 50%;">
    <form novalidate autocomplete="off">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Cancel Table</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="fa fa-times"></i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-align="center center">
                    <h4>Do you wish to cancel and close this table?</h4>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button type="submit" ng-click="answer(true)">Yes</md-button>
            <md-button ng-click="answer(false)">No</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
