<md-dialog aria-label="Edit KOT" ng-cloak style="width: 50%;">
    <form name="editKotForm" novalidate autocomplete="off">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit KOT - {{editKotModalObj.id}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="fa fa-times"></i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column" layout-gt-xs="row">
                    <div flex layout="column">
                        <md-card flex class="card-fixed-height">
                            <md-card-content layout="row" layout-align="center center">
                                <div flex="50">
                                    <p><b>Name</b></p>
                                </div>
                                <div flex="20" flex-offset="5">
                                    <p><b>Value</b></p>
                                </div>                                  
                                <div flex="25">                                            
                                </div>
                            </md-card-content>
                        </md-card>  
                        <md-card flex md-whiteframe="1" class="card-dynamic-height" ng-repeat="item in editKotModalObj.items">
                            <md-card-content layout="row" layout-align="center center">
                                <div flex="50">
                                    <p>{{item.name}}</p>
                                </div>
                                <div flex="20" flex-offset="5">
                                    <p><b>{{item.quantity}}</b>x{{item.price}}</p>
                                </div>                                       
                                <div flex="25" layout="row">   
                                    <md-button class="md-icon-button" ng-click="addQuantity(item)" aria-label="add quantity">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </md-button>
                                    <md-button class="md-icon-button" ng-click="minusQuantity(item)" aria-label="minus quantity">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </md-button>                                            
                                </div>
                            </md-card-content>
                        </md-card>
                        <md-card flex class="card-fixed-height">
                            <md-card-content layout="row" layout-align="center center">
                                <div flex="50">
                                    <p><b>Total</b></p>
                                </div>
                                <div flex="20" flex-offset="5">                                            
                                    <p><b>{{getTotalsOfOrder(editKotModalObj).totalItemsInOrder}}</b></p>
                                </div>
                                <div flex="25">
                                    <p>
                                        &nbsp &nbsp
                                        <i class="fa fa-inr" aria-hidden="true"></i>
                                        <b>{{getTotalsOfOrder(editKotModalObj).totalPriceOfOrder}}</b>
                                    </p>
                                </div>
                            </md-card-content>
                        </md-card>   
                    </div>                            
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button ng-click="editKotForm.$valid && answer(true)">Save</md-button>
            <md-button ng-click="answer(false)">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
