<div class="col-md-12" ng-init="loadOrders()">
    <md-content>
        <div class="panel-group wrap" id="accordion-orders" role="tablist" aria-multiselectable="true" layout="column" layout-padding>
            <div class="panel" flex ng-if="totalItems != 0">
                <md-toolbar role="tab" id="panel-0" class="md-warn cursorPointer">
                    <div class="md-toolbar-tools">
                        <h4 class="panel-title" style="width:100%;">
                            <a role="button" data-toggle="collapse" data-parent="#accordion-orders" data-target="#order-0" aria-expanded="true" aria-controls="order-0">
                                <div layout="row">
                                    <span flex>New KOT</span>
                                    <span><i class="fa fa-chevron-down rotate-icon" aria-hidden="true"></i></span>
                                </div>                                          
                            </a>
                        </h4>
                    </div>
                </md-toolbar>
                <div id="order-0" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-0">
                    <div class="panel-body" layout-wrap>
                        <div layout="column" layout-gt-xs="row">
                            <div flex="90" layout="column">
                                <md-card flex class="card-fixed-height">
                                    <md-card-content layout="row" layout-align="center center">
                                        <div flex="50">
                                            <p><b>Name</b></p>
                                        </div>
                                        <div flex="20" flex-offset="5">
                                            <p><b>Value</b></p>
                                        </div>                                                                         
                                        <div flex="25">                                            
                                        </div>
                                    </md-card-content>
                                </md-card>  
                                <md-card flex md-whiteframe="1" class="card-dynamic-height" ng-repeat="(key, value) in orderMap" ng-if="value.quantity > 0">
                                    <md-card-content layout="row" layout-align="center center" >
                                        <div flex="50">
                                            <p>{{value.item.name}}</p>
                                        </div>
                                        <div flex="20" flex-offset="5">
                                            <p><b>{{value.quantity}}</b>x{{value.item.price}}</p>
                                        </div>                                       
                                        <div flex="25" layout="row">   
                                            <md-button class="md-icon-button" ng-click="addQuantity(key, value)" aria-label="add quantity">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </md-button>
                                            <md-button class="md-icon-button" ng-click="minusQuantity(key, value)" aria-label="minus quantity">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </md-button>                                            
                                        </div>
                                    </md-card-content>
                                </md-card>
                                <md-card flex class="card-fixed-height">
                                    <md-card-content layout="row" layout-align="center center">
                                        <div flex="50">
                                            <p><b>Total</b></p>
                                        </div>
                                        <div flex="20" flex-offset="5">                                            
                                            <p><b>{{totalItems}}</b></p>
                                        </div>
                                        <div flex="25">
                                            <p>
                                                &nbsp &nbsp
                                                <i class="fa fa-inr" aria-hidden="true"></i>
                                                <b>{{totalPrice}}</b>
                                            </p>
                                        </div>
                                    </md-card-content>
                                </md-card>   
                            </div>
                            <div flex="10" layout="row" layout-gt-xs="column" layout-align="center center">
                                <div flex layout="column" layout-align="center center">
                                    <md-button ng-click="addMore('/menu')" class="md-fab md-mini md-accent" aria-label="Add More">
                                        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                    </md-button>
                                    <p align="center">Add More</p>
                                </div>
                                <div flex ng-if="totalItems != 0" layout="column" layout-align="center center">
                                    <md-button ng-click="addToBill($event)" class="md-fab md-mini md-primary" aria-label="Add to Bill">
                                        <i class="fa fa-share fa-lg" aria-hidden="true"></i>
                                    </md-button>
                                    <p align="center">Add to Bill</p>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" flex ng-repeat="order in orders | orderBy : '-id'">
                <md-toolbar class="md-primary md-hue-2 cursorPointer" role="tab" id="panel-{{order.id}}">
                    <div class="md-toolbar-tools">
                        <h4 class="panel-title" style="width:100%;">
                            <a role="button" data-toggle="collapse" data-parent="#accordion-orders" data-target="#order-{{order.id}}" aria-expanded="true" aria-controls="order-{{order.id}}">
                                <div layout="row">
                                    <span flex>KOT No : {{order.id}}</span>
                                    <span><i class="fa fa-chevron-down rotate-icon" aria-hidden="true"></i></span>
                                </div>                                          
                            </a>
                        </h4>
                    </div>
                </md-toolbar>
                <div id="order-{{order.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-{{order.id}}">
                    <div class="panel-body" layout-wrap>
                        <div layout="column" layout-gt-xs="row">
                            <div flex="90" layout="column">
                                <md-card flex class="card-fixed-height">
                                    <md-card-content layout="row" layout-align="center center">
                                        <div flex="50">
                                            <p><b>Name</b></p>
                                        </div>
                                        <div flex="20" flex-offset="5">
                                            <p><b>Value</b></p>
                                        </div>                                  
                                        <div flex="25">                                            
                                        </div>
                                    </md-card-content>
                                </md-card>  
                                <md-card flex md-whiteframe="1" class="card-dynamic-height" ng-repeat="item in order.items">
                                    <md-card-content layout="row" layout-align="center center">
                                        <div flex="50">
                                            <p>{{item.name}}</p>
                                        </div>
                                        <div flex="20" flex-offset="5">
                                            <p><b>{{item.quantity}}</b>x{{item.price}}</p>
                                        </div>                                       
                                        <div flex="25">
                                            <div layout="row" hide>                                                
                                            </div>
                                        </div>
                                    </md-card-content>
                                </md-card>
                                <md-card flex class="card-fixed-height">
                                    <md-card-content layout="row" layout-align="center center">
                                        <div flex="50">
                                            <p><b>Total</b></p>
                                        </div>
                                        <div flex="20" flex-offset="5">                                            
                                            <p><b>{{getTotalsOfOrder(order).totalItemsInOrder}}</b></p>
                                        </div>
                                        <div flex="25">
                                            <p>
                                                &nbsp &nbsp
                                                <i class="fa fa-inr" aria-hidden="true"></i>
                                                <b>{{getTotalsOfOrder(order).totalPriceOfOrder}}</b>
                                            </p>
                                        </div>
                                    </md-card-content>
                                </md-card>   
                            </div>
                            <div flex="10" layout="row" layout-gt-xs="column" layout-align="center center">
                                <div flex layout="column" layout-align="center center">
                                    <md-button class="md-fab md-mini md-accent" aria-label="Print Kot" ng-click="printKot($event, order)">
                                        <i class="fa fa-print fa-lg" aria-hidden="true"></i>
                                    </md-button>
                                    <p align="center">Print</p>
                                </div>
                                <div flex layout="column" layout-align="center center">
                                    <md-button class="md-fab md-mini md-primary" aria-label="Edit Kot" ng-click="editKot($event, order)">
                                        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                                    </md-button>
                                    <p align="center">Edit</p>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex layout="row" layout-align="center center" ng-if="cancelTable">
            <md-input-container flex-xs="80" flex-sm="50" flex-md="30" flex-lg="20">
                <md-button ng-click="cancelThisTable($event)" class="md-accent md-raised md-large" aria-label="login" style="width:100%; height: 50px;">
                    Cancel & Close Table
                </md-button>
            </md-input-container>
        </div>
        <div flex layout="row" layout-align="center center" ng-if="!cancelTable">
            <md-input-container flex-xs="80" flex-sm="50" flex-md="30" flex-lg="20">
                <md-button ng-click="goToBill($event)" class="md-accent md-raised md-large" aria-label="login" style="width:100%; height: 50px;">
                    Go to Bill
                </md-button>
            </md-input-container>
        </div>
        <md-button class="md-fab md-accent" ng-click="addMore('/menu')" aria-label="menu" style="bottom: 20px; right: 20px; position: fixed;">
            Menu
        </md-button>
    </md-content>
</div>