<div class="col-md-12" style="height: 100%;" ng-disabled="true">
    <md-content layout="row" layout-align="center center" style="height: 100%;">
        <div flex-xs="80" flex-sm="50" flex-md="30" flex-lg="20">
            <md-input-container layout="row">
                <input flex type="password" readonly="true" ng-model="user.pin" maxlength="4" aria-label="pin input" style="font-size: 40px; text-align: center;">
            </md-input-container>
            <div>
                <md-grid-list md-cols="3" md-row-height-xs="4:3" md-row-height-sm="4:3" md-row-height-md="4:3" md-row-height-lg="4:3" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="8px" layout-padding>
                    <md-grid-tile ng-repeat="tile in pinPad">
                        <md-button class="md-primary md-icon md-raised" aria-label="login pad button" ng-click="clicked(tile)">
                            <i ng-if="tile.number" class="fa fa-stack fa-2x">{{tile.display}}</i>
                            <i ng-if="!tile.number" class="fa fa-stack {{tile.icon}} fa-2x"></i>
                        </md-button>
                    </md-grid-tile>
                </md-grid-list>
            </div>
            <md-input-container layout="row">
                <input flex type="password" ng-keypress="enter($event)" ng-model="user.accessCode" placeholder="Access Code" aria-label="pin input" style="font-size: 20px; text-align: center;">
            </md-input-container>
            <md-input-container layout="row" layout-fill style="height:70px;">
                <md-button class="md-accent md-raised md-large" ng-click="login(user)" aria-label="login" style="width:100%;">
                    LOGIN
                </md-button>
            </md-input-container>
        </div>
    </md-content>
</div>
