<md-dialog aria-label="Send Message" ng-cloak style="width: 50%;">
    <form name="sendMessageForm" novalidate autocomplete="off">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Send Message</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="fa fa-times"></i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div flex layout="column" layout-wrap layout-align="center stretch">
                        <md-input-container flex class="md-block">
                            <md-icon><ng-md-icon icon="person"></ng-md-icon></md-icon>                            
                            <span class="sense-bold">To :</span>
                            <span>Support Center</span>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Subject</label>
                            <md-icon>
                                <ng-md-icon icon="subject"></ng-md-icon>
                            </md-icon>
                            <input required name="subject" ng-model="messageModalObj.subject">
                            <div ng-messages="sendMessageForm.subject.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Message</label>
                            <md-icon>
                                <ng-md-icon icon="mode_edit"></ng-md-icon>
                            </md-icon>
                            <textarea required name="messageBody" ng-model="messageModalObj.messageBody" md-maxlength="2000"></textarea>
                            <div ng-messages="sendMessageForm.messageBody.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button type="submit" ng-click="sendMessageForm.$valid && answer(true)">Send</md-button>
            <md-button ng-click="answer(false)">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
