<div ng-init="getRestaurantInfo()">
    <md-content layout="column" layout-padding>
        <div layout-padding ng-if="restaurantInfo == null">
            <p class="sense-bold">Restaurant information not found. Click the button below to add inforamtion.</p>
        </div>
        <div layout="column" class="custom-card" md-whiteframe="6" layout-padding ng-if="restaurantInfo != null">
            <div flex layout="column" layout-padding>
                <md-subheader>Details</md-subheader>
                <div flex layout="row" layout-padding layout-wrap>
                    <div flex>
                        <span class="sense-bold">Restaurant Name : </span>
                    </div>
                    <div flex>
                        {{restaurantInfo.name}}
                    </div>
                </div>
                <div flex layout="row" layout-padding layout-wrap>
                    <div flex>
                        <span class="sense-bold">Tagline : </span>
                    </div>
                    <div flex>
                        {{restaurantInfo.tagline}}
                    </div>
                </div>
                <div flex layout="row" layout-padding layout-wrap>
                    <div flex>
                        <span class="sense-bold">Bar : </span>
                    </div>
                    <div flex>
                        {{restaurantInfo.barInfoType == 1 ? 'Not Available' : 'Available'}}
                    </div>
                </div>
                <md-divider></md-divider>
                <md-subheader>Address</md-subheader>
                <div flex layout="row" layout-padding layout-wrap>
                    <div flex>
                        <span class="sense-bold">Address Line 1 : </span>
                    </div>
                    <div flex>
                        {{restaurantInfo.address.addressLine1}}
                    </div>
                </div>
                <div flex layout="row" layout-padding layout-wrap>
                    <div flex>
                        <span class="sense-bold">Address Line 2 : </span>
                    </div>
                    <div flex>
                        {{restaurantInfo.address.addressLine2}}
                    </div>
                </div>
                <div flex layout="row" layout-padding layout-wrap>
                    <div flex>
                        <span class="sense-bold">City : </span>
                    </div>
                    <div flex>
                        {{restaurantInfo.address.city}}
                    </div>
                </div>
                <div flex layout="row" layout-padding layout-wrap>
                    <div flex>
                        <span class="sense-bold">Pincode : </span>
                    </div>
                    <div flex>
                        {{restaurantInfo.address.pinCode}}
                    </div>
                </div>
                <md-divider></md-divider>
                <md-subheader>Contact Details</md-subheader>
                <div flex layout="row" layout-padding layout-wrap>
                    <div flex>
                        <span class="sense-bold">Phone : </span>
                    </div>
                    <div flex>
                        {{restaurantInfo.phone.phone1}}
                    </div>
                </div>
                <div flex layout="row" layout-padding layout-wrap ng-if="restaurantInfo.phone.phone2 != null">
                    <div flex>
                        <span class="sense-bold">Phone 2 : </span>
                    </div>
                    <div flex>
                        {{restaurantInfo.phone.phone2}}
                    </div>
                </div>
                <div ng-if="restaurantInfo.additionalDetails.serviceTaxNumber != null && restaurantInfo.additionalDetails.tinNumber != null && restaurantInfo.additionalDetails.group != null">
                    <md-divider></md-divider>
                    <md-subheader>Additional Details</md-subheader>
                    <div flex layout="row" layout-padding layout-wrap ng-if="restaurantInfo.additionalDetails.serviceTaxNumber != null">
                        <div flex>
                            <span class="sense-bold">Service Tax No : </span>
                        </div>
                        <div flex>
                            {{restaurantInfo.additionalDetails.serviceTaxNumber}}
                        </div>
                    </div>
                    <div flex layout="row" layout-padding layout-wrap ng-if="restaurantInfo.additionalDetails.tinNumber != null">
                        <div flex>
                            <span class="sense-bold">Tin No : </span>
                        </div>
                        <div flex>
                            {{restaurantInfo.additionalDetails.tinNumber}}
                        </div>
                    </div>
                    <div flex layout="row" layout-padding layout-wrap ng-if="restaurantInfo.additionalDetails.group != null">
                        <div flex>
                            <span class="sense-bold">Group : </span>
                        </div>
                        <div flex>
                            {{restaurantInfo.additionalDetails.group}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex layout="row" layout-align="center center">
            <md-input-container flex-xs="80" flex-sm="50" flex-md="30" flex-lg="20">
                <md-button ng-click="editRestaurantInfo($event)" class="md-accent md-raised md-large" aria-label="edit restaurant info" style="width:100%; height: 50px;">
                    Edit Information
                </md-button>
            </md-input-container>
        </div>
    </md-content>
</div>
