<md-dialog aria-label="delete" ng-cloak style="width: 50%;">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Close dialog">
            <ng-md-icon icon="delete"></ng-md-icon>
        </md-button>
        <h2> Delete Confirmation </h2>        
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">
            <i class="fa fa-times"></i>
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-wrap layout-align="space-between center">
          <div flex>
            <h4 ng-bind-html="deleteModalObj.deleteText"></h4>
          </div>         
        </div>
      </div>           
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center center">
      <md-button ng-click="answer(true)">Yes</md-button>
      <md-button ng-click="answer(false)">No</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>