<div ng-init="getTaxDetails()">
    <md-content layout="column" layout-padding>
        <md-card flex md-whiteframe="3" style="max-height:60px;" ng-if="internalTaxes.length != 0">
            <md-card-content layout="row" layout-align="center center">
                <div flex="30">
                    <p><b>Internal Charges</b></p>
                </div>
                <div flex="25">
                    <p><b>F&B</b></p>
                </div>
                <div flex="20">
                    <p><b>Liquor</b></p>
                </div>
                <div flex="25"></div>
            </md-card-content>
        </md-card>
        <md-card flex md-whiteframe="1" style="max-height:60px;" ng-repeat="tax in internalTaxes">
            <md-card-content layout="row" layout-align="center center">
                <div flex="30" layout="row" layout-fill>
                    <p>{{tax.taxName | uppercase}}</p>
                </div>
                <div flex="25">
                    <p>{{tax.fnbTax}}</p>
                </div>
                <div flex="20">
                    <p>{{tax.liquorTax}}</p>
                </div>
                <div flex="25" layout="row">
                    <md-button class="md-icon-button" ng-click="editTax(tax, $event)" aria-label="edit tax">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="deleteTax(tax, $event)" aria-label="delete tax">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </md-button>
                </div>
            </md-card-content>
        </md-card>
        <div layout-padding ng-if="internalTaxes.length == 0">
            <p class="sense-bold">No internal charges found. Please click the below button to add a new charge.</p>
        </div>
        <div>
            <md-button ng-click="addTax('I', $event)" class="md-accent md-raised">
                Add Charge
            </md-button>
        </div>
        <br>
        <br>
        <md-card flex md-whiteframe="3" style="max-height:60px;" ng-if="externalTaxes.length != 0">
            <md-card-content layout="row" layout-align="center center">
                <div flex="30">
                    <p><b>Taxes</b></p>
                </div>
                <div flex="25">
                    <p><b>F&B</b></p>
                </div>
                <div flex="20">
                    <p><b>Liquor</b></p>
                </div>
                <div flex="25"></div>
            </md-card-content>
        </md-card>
        <md-card flex md-whiteframe="1" style="max-height:60px;" ng-repeat="tax in externalTaxes">
            <md-card-content layout="row" layout-align="center center">
                <div flex="30" layout="row" layout-fill>
                    <p>{{tax.taxName | uppercase}}</p>
                </div>
                <div flex="25">
                    <p>{{tax.fnbTax}}</p>
                </div>
                <div flex="20">
                    <p>{{tax.liquorTax}}</p>
                </div>
                <div flex="25" layout="row">
                    <md-button class="md-icon-button" ng-click="editTax(tax, $event)" aria-label="edit tax">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="deleteTax(tax, $event)" aria-label="delete tax">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </md-button>
                </div>
            </md-card-content>
        </md-card>
        <div layout-padding ng-if="externalTaxes.length == 0">
            <p class="sense-bold">No taxes found. Please click the below button to add a new tax.</p>
        </div>
        <div>
            <md-button ng-click="addTax('E', $event)" class="md-accent md-raised">
                Add Tax
            </md-button>
        </div>
    </md-content>
</div>
