<div ng-init="getBillInformation()">
    <md-content layout="column" layout-padding>
        <div ng-repeat="bill in bills track by $index">
            <div flex layout="row" layout-align="center start" ng-if="bill.status == 'CANCELLED'">
                <div layout="row" layout-align="space-between center">
                    <div layout="row" layout-align="center center">
                        <div style="color: red">
                            <p>CANCELLED : <span>{{bill.reasonForCancel}}</span></p>                            
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div flex layout="row" layout-align="center start" ng-if="bill.status == 'SETTLED'">
                <div layout="row" layout-align="space-between center">
                    <div layout="row" layout-align="center center">
                        <div style="color: green">
                            <p>SETTLED</p>                            
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div flex layout="row" layout-align="center start" ng-if="bill.status == 'UNSETTLED'">
                <div layout="row" layout-align="space-between center">
                    <div layout="row" layout-align="center center">
                        <div style="color: red">
                            <p>PENDING SETTLEMENT</p>                            
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div flex layout="row" layout-align="center start">
                <div layout="row" md-whiteframe="6" layout-align="space-between center" class="custom-card sense-bold" ng-class="setTileWidth(bill)">
                    <div flex layout="row" layout-align="center center">
                        <div class="inset">
                            <ng-md-icon icon="receipt"></ng-md-icon>
                        </div>
                        <div style="align-self: center">
                            {{bill.id}}
                        </div>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div class="inset">
                            <ng-md-icon icon="bookmark"></ng-md-icon>
                        </div>
                        <div style="align-self: center">
                            {{bill.tableNumber}}
                        </div>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div class="inset">
                            <ng-md-icon icon="person"></ng-md-icon>
                        </div>
                        <div style="align-self: center">
                            {{bill.personName}}
                        </div>
                    </div>
                </div>
            </div>
            <div flex layout="column" layout-gt-xs="row" layout-padding layout-align="center start">
                <div md-whiteframe="4" class="custom-card bill-layout-div" ng-if="bill.fnbItems.length > 0">
                    <div layout="row" class="sense-bold">
                        <span>Food & Beverage</span>
                        <span flex></span>
                        <i class="fa fa-heart fa-lg cursorPointer" style="color: red" aria-hidden="true" ng-if="isUnsettledBill(bill)" ng-click="provideDiscount($event, bill, 'FNB')"></i>
                    </div>
                    <br>
                    <div>
                        <div layout="row" class="sense-bold">
                            <div flex="70" class="bill-item-name">
                                <span>Item</span>
                            </div>
                            <div flex="10">
                                <span>Qty</span>
                            </div>
                            <div flex="20">
                                <span>Value</span>
                            </div>
                        </div>
                        <div layout="row" ng-repeat="item in bill.fnbItems">
                            <div flex="70" class="bill-item-name">
                                {{item.name}}
                            </div>
                            <div flex="10">
                                {{item.quantity}}
                            </div>
                            <div flex="20">
                                {{item.quantity*item.price}}
                            </div>
                        </div>
                        <div layout="row" class="cursorPointer" ng-if="bill.discount.fnb.amount != null" ng-click="provideDiscount($event, bill, 'FNB')">
                            <div flex="50" class="bill-item-name">
                                Discount
                            </div>
                            <div flex="30">
                                <div ng-if="bill.discount.fnb.discountType == 'PERCENT'">@&nbsp{{bill.discount.fnb.value}}&nbsp%</div>
                            </div>
                            <div flex="20">
                                {{bill.discount.fnb.amount}}
                            </div>
                        </div>
                        <div layout="row" class="bill-division sense-bold">
                            <div flex="70" class="bill-item-name">
                                Sub Total
                            </div>
                            <div flex="10">
                                {{bill.itemCount.fnb}}
                            </div>
                            <div flex="20">
                                {{bill.subTotal.fnb}}
                            </div>
                        </div>
                        <div layout="row" ng-repeat="internalCharge in bill.internalCharges">
                            <div flex="50" class="bill-item-name">
                                {{internalCharge.name}}
                            </div>
                            <div flex="30">
                                @&nbsp{{internalCharge.fnb.rate}}&nbsp%
                            </div>
                            <div flex="20">
                                {{internalCharge.fnb.value}}
                            </div>
                        </div>
                        <div layout="row" class="bill-division sense-bold">
                            <div flex="70" class="bill-item-name">
                                Total (Exc. Taxes)
                            </div>
                            <div flex="10">
                            </div>
                            <div flex="20">
                                {{bill.subTotalExclusive.fnb}}
                            </div>
                        </div>
                        <div layout="row" ng-repeat="tax in bill.taxes">
                            <div flex="50" class="bill-item-name">
                                {{tax.name}}
                            </div>
                            <div flex="30">
                                @&nbsp{{tax.fnb.rate}}&nbsp%
                            </div>
                            <div flex="20">
                                {{tax.fnb.value}}
                            </div>
                        </div>
                        <div layout="row" class="bill-division sense-bold">
                            <div flex="70" class="bill-item-name">
                                F&B Total (Inc. Taxes)
                            </div>
                            <div flex="10">
                            </div>
                            <div flex="20">
                                {{bill.subTotalInclusive.fnb}}
                            </div>
                        </div>
                    </div>
                </div>
                <div md-whiteframe="4" class="custom-card bill-layout-div bar-bill-layout" ng-if="bill.barItems.length > 0">
                    <div layout="row" class="sense-bold">
                        <span>Bar</span>
                        <span flex></span>
                        <i class="fa fa-heart fa-lg cursorPointer" style="color: red" aria-hidden="true" ng-if="isUnsettledBill(bill)" ng-click="provideDiscount($event, bill, 'BAR')"></i>
                    </div>
                    <br>
                    <div>
                        <div layout="row" class="sense-bold">
                            <div flex="70" class="bill-item-name">
                                <span>Item</span>
                            </div>
                            <div flex="10">
                                <span>Qty</span>
                            </div>
                            <div flex="20">
                                <span>Value</span>
                            </div>
                        </div>
                        <div layout="row" ng-repeat="item in bill.barItems">
                            <div flex="70" class="bill-item-name">
                                {{item.name}}
                            </div>
                            <div flex="10">
                                {{item.quantity}}
                            </div>
                            <div flex="20">
                                {{item.quantity*item.price}}
                            </div>
                        </div>
                        <div layout="row" class="cursorPointer" ng-if="bill.discount.bar.amount != null" ng-click="provideDiscount($event, bill, 'BAR')">
                            <div flex="50" class="bill-item-name">
                                Discount
                            </div>
                            <div flex="30">
                                <div ng-if="bill.discount.bar.discountType == 'PERCENT'">@&nbsp{{bill.discount.bar.value}}&nbsp%</div>
                            </div>
                            <div flex="20">
                                {{bill.discount.bar.amount}}
                            </div>
                        </div>
                        <div layout="row" class="bill-division sense-bold">
                            <div flex="70" class="bill-item-name">
                                Sub Total
                            </div>
                            <div flex="10">
                                {{bill.itemCount.liquor}}
                            </div>
                            <div flex="20">
                                {{bill.subTotal.liquor}}
                            </div>
                        </div>
                        <div layout="row" ng-repeat="internalCharge in bill.internalCharges">
                            <div flex="50" class="bill-item-name">
                                {{internalCharge.name}}
                            </div>
                            <div flex="30">
                                @&nbsp{{internalCharge.liquor.rate}}&nbsp%
                            </div>
                            <div flex="20">
                                {{internalCharge.liquor.value}}
                            </div>
                        </div>
                        <div layout="row" class="bill-division sense-bold">
                            <div flex="70" class="bill-item-name">
                                Total (Exc. Taxes)
                            </div>
                            <div flex="10">
                            </div>
                            <div flex="20">
                                {{bill.subTotalExclusive.liquor}}
                            </div>
                        </div>
                        <div layout="row" ng-repeat="tax in bill.taxes">
                            <div flex="50" class="bill-item-name">
                                {{tax.name}}
                            </div>
                            <div flex="30">
                                @&nbsp{{tax.liquor.rate}}&nbsp%
                            </div>
                            <div flex="20">
                                {{tax.liquor.value}}
                            </div>
                        </div>
                        <div layout="row" class="bill-division sense-bold">
                            <div flex="70" class="bill-item-name">
                                BAR Total (Inc. Taxes)
                            </div>
                            <div flex="10">
                            </div>
                            <div flex="20">
                                {{bill.subTotalInclusive.liquor}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div flex layout="row" layout-align="center start">
                <div layout="row" md-whiteframe="6" class="custom-card" layout-align="center center" ng-class="setTileWidth(bill)">
                    <div class="sense-bold">
                        GRAND TOTAL : &nbsp &nbsp
                    </div>
                    <div class="highlight-text">
                        <i class="fa fa-inr" aria-hidden="true"></i> {{bill.grandTotal}}
                    </div>
                </div>
            </div>
            <div flex layout="row" layout-align="center start" layout-padding>
                <div layout="row" layout-align="space-between center" ng-class="setTileWidth(bill)">
                    <div flex layout="row" layout-align="center center">
                        <md-button class="md-fab md-mini md-warn" aria-label="Email Bill" ng-click="emailBill($event, bill)">
                            <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                        </md-button>
                        Email
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <md-button class="md-fab md-mini md-primary" aria-label="Print Bill" ng-click="printBill($event, bill)">
                            <i class="fa fa-print fa-lg" aria-hidden="true"></i>
                        </md-button>
                        Print
                    </div>
                </div>
            </div>
            <div flex layout="row" layout-align="center center" ng-if="isUnsettledBill(bill)">
                <md-input-container flex-xs="80" flex-sm="50" flex-md="30" flex-lg="20">
                    <md-button ng-click="settleBill($event, bill)" class="md-accent md-raised md-large" aria-label="settle bill" style="width:100%; height: 50px;">
                        SETTLE AND CLOSE
                    </md-button>
                </md-input-container>
            </div>
            <div flex layout="row" layout-align="center start" layout-padding ng-if="isSettledBill(bill)">
                <div layout="row" layout-align="space-between center" ng-class="setTileWidth(bill)">
                    <div flex layout="row" layout-align="center center">
                        <md-button ng-click="editBill($event, bill)" class="md-accent md-raised md-small" aria-label="edit bill" style="width:80%; height: 50px;">
                            EDIT BILL
                        </md-button>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <md-button ng-click="splitBill($event, bill)" class="md-accent md-raised md-small" aria-label="edit bill" style="width:80%; height: 50px;">
                            SPLIT BILL
                        </md-button>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <md-button ng-click="getAssociatedOrders($event, bill)" class="md-accent md-raised md-small" aria-label="get orders" style="width:80%; height: 50px;">
                            ASSO. KOTS
                        </md-button>                        
                    </div>
                </div>
            </div>            
            <div ng-if="bills.length > 1">
                <br>
                <br>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
            </div>
        </div>
    </md-content>
</div>
