<div ng-init="getBills(startDate, startDate)">
    <md-content layout="column" layout-padding>
        <form name="billSearchForm">
            <div class="panel" flex>
                <md-toolbar class="md-primary md-hue-2 cursorPointer" role="tab" id="panel-label">
                    <div class="md-toolbar-tools">
                        <h4 class="panel-title" style="width:100%;">
                                <a role="button" data-toggle="collapse" data-parent="#accordion-orders" data-target="#bill-search-panel" aria-expanded="true" aria-controls="bill-search-panel">
                                    <div layout="row">
                                        <span flex>Search Bills</span>
                                        <span><i class="fa fa-chevron-down rotate-icon" aria-hidden="true"></i></span>
                                    </div>                                          
                                </a>
                            </h4>
                    </div>
                </md-toolbar>
                <div id="bill-search-panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-label">
                    <div class="panel-body" layout-wrap>
                        <div flex layout="column" layout-gt-sm="row" layout-padding>
                            <md-input-container flex flex-gt-sm="50" class="md-block">
                                <label>Search Bills</label>
                                <md-select name="when" ng-model="when" aria-label="search bills">
                                    <md-option selected value="1">Today</md-option>
                                    <md-option value="2">Yesterday</md-option>
                                    <md-option value="3">Date Range</md-option>
                                </md-select>
                            </md-input-container>
                            
                            <div flex flex-gt-sm="50" class="md-block" layout="column" layout-gt-sm="row" ng-show="when == 3">
                                <md-datepicker class="datepicker" required name="startDate" ng-model="startDate" md-placeholder="Enter Start date" md-open-on-focus></md-datepicker>
                                <div flex ng-messages="billSearchForm.startDate.$error" style="color: red;">
                                    <div ng-message="valid">Invalid Date</div>
                                    <div ng-message="required">Start date is required</div>
                                </div>
                                <md-datepicker class="datepicker" required name="endDate" ng-model="endDate" md-placeholder="Enter End date" md-open-on-focus></md-datepicker>
                                <div flex ng-messages="billSearchForm.endDate.$error" style="color: red;">
                                    <div ng-message="valid">Invalid Date</div>
                                    <div ng-message="required">End date is required</div>
                                </div>
                            </div>                            
                        </div>
                        <div flex layout="row" layout-align-gt-sm="start center" layout-align="center center">
                            <md-input-container flex-xs="80" flex-sm="50" flex-md="30" flex-lg="20">
                                <md-button ng-click="searchBill($event)" class="md-primary md-raised md-large" aria-label="search bill" style="width:100%; height: 50px;">
                                    SEARCH
                                </md-button>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </form>        
        <md-card flex md-whiteframe="1" style="max-height:60px;" class="cursorPointer" ng-repeat="table in openTables" ng-click="goToBill(table, false)">
            <md-card-content layout="row" layout-align="center center">
                <div flex="20" layout="row" layout-fill>
                    <p>{{table.id}}</p>
                </div>
                <div flex="25">
                    <p>{{table.tableNumber}}</p>
                </div>
                <div flex="25">
                    <p style="color: red;">PENDING</p>
                </div>
                <div flex="30"></div>
            </md-card-content>
        </md-card>
        <md-card flex md-whiteframe="1" style="max-height:60px;" class="cursorPointer" ng-repeat="bill in bills" ng-click="goToBill(bill, true)">
            <md-card-content layout="row" layout-align="center center">
                <div flex="20" layout="row" layout-fill>
                    <p>{{bill.id}}</p>
                </div>
                <div flex="25">
                    <p>{{bill.tableNumber}}</p>
                </div>
                <div flex="25">
                    <p style="color: green;">SETTLED</p>
                </div>
                <div flex="30">
                    <p><i class="fa fa-inr" aria-hidden="true"></i>{{bill.grandTotal}}</p>
                </div>
        </md-card>
        <div layout-padding ng-if="bills.length == 0 && openTables.length == 0">
            <p class="sense-bold">No Bills found for above criteria. Please search with different criteria.</p>
        </div>
    </md-content>
</div>
