<md-dialog aria-label="Email Bill" ng-cloak style="width: 50%;">
    <form name="emailBillForm" novalidate autocomplete="off">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Email Bill</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="fa fa-times"></i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div flex layout="column" layout-wrap layout-align="center stretch">
                        <md-input-container flex class="md-block">
                            <label>Customer Name</label>
                            <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>                            
                            <input required name="name" ng-model="emailBillModalObj.name">
                            <div ng-messages="emailBillForm.name.$error">
                                <div ng-message="required">This is required</div>
                            </div>                            
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Email Address</label>
                            <md-icon><ng-md-icon icon="email"></ng-md-icon></md-icon>                            
                            <input name="email" ng-model="emailBillModalObj.email" required>
                            <div ng-messages="emailBillForm.email.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>                        
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button type="submit" ng-click="emailBillForm.$valid && answer(true)">Email</md-button>
            <md-button ng-click="answer(false)">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
