<md-dialog aria-label="Split Bill" ng-cloak style="width: 50%;">
    <form name="splitBillForm" novalidate autocomplete="off">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Split Bill</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="fa fa-times"></i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column" layout-align="center center">
                    <p flex class="sense-bold">Tap on items to move across bills</p>
                    <div flex layout="row" class="full-width">
                        <div flex class="split-bill-card" layout="column" layout-padding>
                            <p class="sense-bold">Bill 1</p>
                            <div layout="row" ng-class-odd="'odd-row'" class="full-width cursorPointer" ng-repeat="(key, value) in splitBillModalObj.itemsMap_1" ng-click="moveItem(key, 1)">
                                <span>{{value.name}}</span>
                                <span flex></span>
                                <span>{{value.quantity}}</span>
                            </div>
                        </div>
                        <div flex class="split-bill-card" layout="column" layout-padding>
                            <p class="sense-bold">Bill 2</p>
                            <div layout="row" ng-class-odd="'odd-row'" class="full-width cursorPointer" ng-repeat="(key, value) in splitBillModalObj.itemsMap_2" ng-click="moveItem(key, 2)">
                                <span>{{value.name}}</span>
                                <span flex></span>
                                <span>{{value.quantity}}</span>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button ng-click="splitBillForm.$valid && answer(true)">Split Bill</md-button>
            <md-button ng-click="answer(false)">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
