<md-dialog aria-label="Edit Cloud Settings" ng-cloak style="width: 50%;">
    <form name="cloudConnectForm" novalidate autocomplete="off">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Cloud Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="fa fa-times"></i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div flex layout="column" layout-wrap layout-align="center stretch">
                        <md-input-container class="md-block">
                            <label>Restaurant ID</label>
                            <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>                            
                            <input required name="restaurantId" ng-model="cloudSettingsModalObj.restaurantId">
                            <div ng-messages="cloudConnectForm.restaurantId.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container> 
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <md-icon><ng-md-icon icon="lock"></ng-md-icon></md-icon>                            
                            <input required type="password" name="password" ng-model="cloudSettingsModalObj.password">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Private Key</label>
                            <md-icon><ng-md-icon icon="vpn_key"></ng-md-icon></md-icon>                            
                            <input required name="privateKey" ng-model="cloudSettingsModalObj.privateKey">
                            <div ng-messages="cloudConnectForm.privateKey.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>                         
                        <md-input-container class="md-block">
                            <label>Public Key</label>
                            <md-icon><ng-md-icon icon="vpn_key"></ng-md-icon></md-icon>                            
                            <input required name="publicKey" ng-model="cloudSettingsModalObj.publicKey">
                            <div ng-messages="cloudConnectForm.publicKey.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Cloud URL</label>
                            <md-icon><ng-md-icon icon="link"></ng-md-icon></md-icon>                            
                            <input required name="cloudUrl" ng-model="cloudSettingsModalObj.cloudDetails.cloudUrl">
                            <div ng-messages="cloudConnectForm.cloudUrl.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Cloud Public Key</label>
                            <md-icon><ng-md-icon icon="vpn_key"></ng-md-icon></md-icon>                            
                            <input required name="cloudPublicKey" ng-model="cloudSettingsModalObj.cloudDetails.publicKey">
                            <div ng-messages="cloudConnectForm.cloudPublicKey.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>                         
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button type="submit" ng-click="cloudConnectForm.$valid && answer(true)">Save</md-button>
            <md-button ng-click="answer(false)">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
