<style>
.not-first-child {
    margin-top: 0px !important;
}
</style>
<md-dialog aria-label="Add/Edit Personnel" ng-cloak style="width: 50%;">
    <form name="addEditPersonnelForm" novalidate autocomplete="off">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{personnelModalObj.actionType}}&nbspPersonnel</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="fa fa-times"></i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div flex layout="column" layout-wrap layout-align="center stretch">
                        <md-input-container flex class="md-block">
                            <label>Name</label>
                            <md-icon>
                                <ng-md-icon icon="mode_edit"></ng-md-icon>
                            </md-icon>
                            <input required name="name" ng-model="personnelModalObj.name">
                            <div ng-messages="addEditPersonnelForm.name.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="md-block" ng-show="personnelModalObj.actionType == 'Edit'">
                            <md-icon><ng-md-icon icon="group"></ng-md-icon></md-icon>                            
                            <span><b>{{personnelModalObj.role}}</b></span>
                        </md-input-container>
                        <md-input-container class="md-block" ng-show="personnelModalObj.actionType == 'Add'">
                            <md-icon>
                                <ng-md-icon icon="group"></ng-md-icon>
                            </md-icon>
                            <md-radio-group name="roleId" required layout-gt-sm="row" ng-model="personnelModalObj.roleId">
                                <md-radio-button flex value="4" ng-show="limitedAccessToAdd(4)">Steward</md-radio-button>
                                <md-radio-button flex value="3" ng-show="limitedAccessToAdd(3)" class="not-first-child">Manager</md-radio-button>
                                <md-radio-button flex value="2" ng-show="limitedAccessToAdd(2)" class="not-first-child">Owner</md-radio-button>
                            </md-radio-group>
                            <div ng-messages="addEditPersonnelForm.roleId.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>PIN</label>
                            <md-icon>
                                <ng-md-icon icon="lock"></ng-md-icon>
                            </md-icon>
                            <input required type="password" name="pin" maxlength="4" required ng-model="personnelModalObj.pin">
                            <div ng-messages="addEditPersonnelForm.pin.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="md-block" ng-if="personnelModalObj.roleId == 2 || personnelModalObj.roleId == 3">
                            <label>Access Code</label>
                            <md-icon>
                                <ng-md-icon icon="security"></ng-md-icon>
                            </md-icon>
                            <input required type="password" minlength="6" name="accessCode" ng-model="personnelModalObj.accessCode">
                            <div ng-messages="addEditPersonnelForm.pin.$error">
                                <div ng-message="required">Access Code is required and must be of minimum 6 characters</div>
                                <div ng-message="minlength">Access Code is required and must be of minimum 6 characters</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Mobile No</label>
                            <md-icon>
                                <ng-md-icon icon="phone"></ng-md-icon>
                            </md-icon>
                            <input name="mobile" type="text" ng-model="personnelModalObj.mobile">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button type="submit" ng-click="addEditPersonnelForm.$valid && answer(true)">Save</md-button>
            <md-button ng-click="answer(false)">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
