<div class="col-md-12" ng-init="getpersonnel()">
    <md-content>
        <md-card flex md-whiteframe="3" style="max-height:60px;" ng-if="personnels.length != 0">
            <md-card-content layout="row" layout-align="center center">
                <div flex="15"></div>
                <div flex="30">
                    <p><b>Name</b></p>
                </div>                
                <div flex="30">
                    <p><b>Mobile No.</b></p>
                </div>
                <div flex="25"></div>
            </md-card-content>
        </md-card>
        <md-card flex md-whiteframe="1" style="max-height:60px;" ng-repeat="personnel in personnels | orderBy: 'roleId'">
            <md-card-content layout="row" layout-align="center center">
                <div flex="15" layout="row" layout-fill>                    
                    <md-button class="md-icon-button" aria-label="personnel" ng-if="personnel.roleId == 2">
                        <ng-md-icon icon="mood"></ng-md-icon>
                        <md-tooltip md-direction="top">Owner</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="personnel" ng-if="personnel.roleId == 3">
                        <ng-md-icon icon="person"></ng-md-icon>
                        <md-tooltip md-direction="top">Manager</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="personnel" ng-if="personnel.roleId == 4">
                        <ng-md-icon icon="group"></ng-md-icon>
                        <md-tooltip md-direction="top">Steward</md-tooltip>
                    </md-button>                    
                </div>
                <div flex="30">
                    <p>{{personnel.name | uppercase}}</p>
                </div>
                <div flex="30">
                    <p>{{personnel.mobile}}</p>
                </div>
                <div flex="25" layout="row">
                    <md-button class="md-icon-button" ng-hide="isLimitedAccessForEdit(personnel)" ng-click="editPersonnel(personnel, $event)" aria-label="edit personnel">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <md-tooltip md-direction="top">Edit</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-hide="isLimitedAccessForDelete(personnel)" ng-click="deletePersonnel(personnel, $event)" aria-label="delete personnel">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <md-tooltip md-direction="top">Delete</md-tooltip>
                    </md-button>
                </div>
            </md-card-content>
        </md-card>
        <div layout-padding ng-if="personnels.length == 0">
            <p class="sense-bold">No personnel has been added yet. Please click on below button to add a personnel.</p>
        </div>
        <md-button class="md-accent md-raised" ng-click="addPersonnel($event)" aria-label="add personnel">Add Personnel</md-button>
    </md-content>
</div>